# Config pad de test (NON committe, cf. .gitignore). Copie de test/pad.env.example.
PAD_HOST=192.168.1.108
PAD_USER=pi
PAD_PASS=CHANGE_ME
PAD_DIR=/home/pi/qemu-fork-test
PAD_SSH="sshpass -p $PAD_PASS ssh -o StrictHostKeyChecking=accept-new $PAD_USER@$PAD_HOST"
PAD_SCP="sshpass -p $PAD_PASS scp -o StrictHostKeyChecking=accept-new"
